# R files not version controlled
.Rhistory
.Rapp.history
.RData
.Rproj.user/

# top directory files not version controlled
*.html

# sub-directory files not version controlled
*/*.html
*/*.docx
*/*.pptx
*/*.xlsx
.Rproj.user
